<div class="body-container">
  <div class="image-container">
    <img [src]="imageArray[currentImageIndex]" alt="Image slider" />
  </div>
  <h2>Grab the deal!</h2>

  <!-- Items Section -->
  <div class="item-container">
    <!-- Shimmer Wrapper (Only when loading) -->
    <div *ngIf="loading">
      <!-- Show shimmer UI when loading -->
      <app-shimmerui></app-shimmerui>
    </div>

    <!-- Message when no products are available (Only when loading is done and no products) -->
    <div *ngIf="!loading && productsList.length === 0" class="no-products-container">
      <p>No products available</p>
    </div>

    <!-- Product Cards (Only when loading is done and products are available) -->
    <div class="item-grid" *ngIf="!loading && productsList.length > 0">
      <div
        class="item-card"
        *ngFor="let product of productsList"
        (click)="viewProductDetails(product.id)"
      >
        <div class="discount-image-container">
          <p class="discount">{{ product.discountPercentage }}% OFF</p>
          <img
            class="item-img"
            [src]="product.thumbnail"
            alt="{{ product.title }}"
          />
        </div>
        <h4>{{ product.title }}</h4>
        <div class="price-container">
          <p>
            $ {{
              (product.discountPercentage / 100) * product.price | number: '1.2-2'
            }}
          </p>
          <p class="og-price">$ {{ product.price }}</p>
        </div>
        <p>{{ product.rating }}⭐</p>
        <div class="addTocart-container">
          <button class="fav-btn">❤️</button>
          <button class="add-to-cart-btn" (click)="addToCart(product, $event)" *ngIf="!cart[product.id]">Add To Cart</button>
          <div class="cart-count" *ngIf="cart[product.id]">
            <button (click)="decrementQuantity(product, $event)" class="cart-quantity-btn">-</button>
            <p>{{ cart[product.id].quantity }}</p>
            <button (click)="incrementQuantity(product, $event)" class="cart-quantity-btn">+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
