<div class ="cart-container">
    <h2>Your Bag Full Of Goodness 🛍️</h2>
    <div class ="checkout-container">
        <div class ="savings">
            <h3>Subtotal ({{ getCartCount() }} items) ${{  calculateTheSubtotal()| number:'1.2-2' }} </h3>
            <h4>Savings : ${{calculateTheSavings() | number:'1.2-2'}}</h4>
        </div>
        <!-- <button class="checkout-button">Checkout</button> -->
        <p-button (onClick)="showDialog()" label="Checkout" />
    </div>
    <div class ="heading">
        <p>Items </p>
        <p>Quantity</p>
        <p>Subtotal</p>
    </div>
    <div class ="cart-item-container">
        <div  *ngFor="let item of cartItems" class="cart-item">
            <div class="image-name-container">
                <img [src]="item.thumbnail"/>
                <div class ="name">
                    <h3>{{item.title}}</h3>
                    <div class ="price">
                        <h5>${{item.price | number:'1.2-2'}}</h5>
                        <h5>${{ item.price * (1 - item.discountPercentage / 100) | number:'1.2-2' }}</h5>
                    </div>
                </div>
            </div>
            <div class ="quantity-other">
                <div class="quantity-container">
                    <button (click)="decrementQuantity(item)" class="minus-button">-</button>
                    <p>{{item.quantity}}</p>
                    <button (click)="incrementQuantity(item)" class="plus-button">+</button>
                </div>
                <div class ="del-save">
                    <button (click)="deleteItem(item)">Delete</button><br/>
                    <button (click)="saveForLater(item)">Save for later</button>
                </div>
            </div>
            <div class ="total">
                <p>Total: ${{ item.price * item.quantity | number:'1.2-2'}}</p>
                <p>Saved: ${{ item.price * item.quantity * (item.discountPercentage / 100) | number:'1.2-2'}}</p>
            </div>
        </div>
    </div>
</div>


